@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
body {
  margin-top: 50px;

  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.option-box {
  position: fixed;
  top: 100px;
  z-index: 9999;
  left: 0;
}
.option-box .color-option {
  float: left;
  background: #333;
  color: #fff;
  padding: 10px;
  width: 200px;
  border: 2px solid #e41b19;
  transition: all 0.2s ease-out;
  display: none;
}
.option-box .color-option li {
  width: 20px;
  height: 20px;
  /* background: #f00; */
  display: inline-block;
  margin-right: 3px;
  cursor: pointer;
}
.option-box .gear-check {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.1s ease-in;
  padding: 5px;
  background: #e41b17;
  color: #fff;
  border-radius: 6px;
  margin-left: 5px;
}
.option-box .gear-check:hover {
  opacity: 1;
  transform: scale(1.1);
}
/* Start Overridding bootstrap */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #e41b19;
}
.navbar-inverse .navbar-nav > li > a {
  color: #d0d0d0;
  font-size: 16px;
}

.navbar-inverse .navbar-brand {
  color: #d0d0d0;
  font-size: 25px;
  font-weight: bold;
}
.navbar-inverse .navbar-brand span {
  color: #e41b19;
}

.dropdown-menu {
  background-color: #101010;
  border-top: 3px solid #e41b19;
  min-width: 200px;
  transition: all 0.5s ease-in;
}
.navbar-right .dropdown-menu {
  left: 0;
  right: auto;
}
.dropdown-menu > li > a {
  color: #d0d0d0;
  padding: 6px 20px;
  transition: padding 0.5s ease;
  -webkit-transition: padding 0.5s ease;
  -moz-transition: padding 0.5s ease;
  -o-transition: padding 0.5s ease;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background: #e41b19;
  color: #d0d0d0;
  padding-left: 25px;
}
.dropdown-menu .divider {
  background-color: #871818;
}

/*carousel override.*/
.carousel-caption {
  bottom: 80px;
  background-color: rgba(3, 3, 3, 0.3);
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
  width: 100%;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
}
.carousel-indicators li.active {
  width: 17px;
  height: 17px;
  background-color: #e41b19;
}
.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about h1 {
  font-weight: bold;
}
.about .lead {
  color: #888;
  font-size: 25px;
  margin-top: 15px;
}
.about h1 span,
.about h3 span {
  color: #e41b19;
}

.features {
  background-color: #eee;
  padding: 50px 0;
}
.features h1 {
  margin-bottom: 50px;
}
.features .feat p {
  line-height: 2em;
}
.features .feat {
  margin-bottom: 30px;
}
.features .feat span.glyphicon {
  font-size: 25px;
  margin-bottom: 10px;
  color: #666;
}
.testimonials {
  padding: 50px 0;
}
.testimonials .lead {
  line-height: 2em;
  margin-bottom: 10px;
}
.testimonials h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
.testimonials span {
  font-size: 18px;
  font-weight: bold;
  color: #e41b19;
}
.testimonials .carousel-inner {
  min-height: 130px;
}
.testimonials .carousel-indicators {
  position: static;
  width: 100%;
  margin-left: auto;
  padding-top: 20px;
  /* border: 1px solid red; */
}
.testimonials .carousel-indicators li {
  text-indent: 0;
  width: 80px;
  height: 80px;
  opacity: 0.5;
  border: 2px solid #eee;
  overflow: hidden;
  border-radius: 50%;
  margin: 5px;
  transition: padding 0.5s ease;
  -webkit-transition: padding 0.5s ease;
  -moz-transition: padding 0.5s ease;
  -o-transition: padding 0.5s ease;
}
.testimonials .carousel-indicators li.active {
  width: 80px;
  height: 80px;
  opacity: 1;
  background: null;
  border: 2px solid #e41b19;
}
.testimonials .carousel-indicators li img {
  max-width: 100%;
}

.price-table {
  background: #eee;
  padding: 40px 0;
}
.price-table h1 {
  margin-bottom: 40px;
}
.price-table .price-box {
  padding: 10px;
  background: #fff;
  border: 1px soild #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}
.price-table .price-box h3 {
  margin: 5px 0 15px;
}
.price-table .price-box:hover p {
  transform: scale(1.1) rotate(360deg);
  border: 2px solid #dfdfdf;
}
.price-table .price-box p {
  font-size: 35px;
  font-weight: bold;
  color: #666;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  border: 2px solid #fff;
}
.price-table .price-box ul {
  line-height: 250%;
  font-size: 18px;
}
.price-table .price-box a {
  margin-bottom: 5px;
}
.price-table .price-box .divider {
  height: 1px;
  background-color: #666;
}
.our-team {
  background: url("../assets/animated.gif") no-repeat center center fixed;
  min-height: 600px;
  background-size: cover;
}
.our-team h1 {
  margin-bottom: 60px;
}
.our-team .team {
  background: rgba(2, 2, 2, 0.8);
  min-height: 600px;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-team .person {
  margin-bottom: 40px;
  color: #aaa;
}

.our-team .person i {
  margin: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  color: #aaa;
}
.our-team .person i:hover {
  transform: scale(1.1) rotate(180deg);
}
.subscribe {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #eee;
}
.subscribe h2 {
  color: #888;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.subscribe p {
  margin-bottom: 30px;
}

.statistics {
  background: url("../assets/stats.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 300px;
  position: relative;
}
.statistics .data {
  background: rgba(2, 2, 2, 0.8);
  min-height: 300px;
  color: #cccccc;
  padding-top: 40px;
  padding-bottom: 70px;
}
.statistics .stats {
  transition: all 0.5s ease;
  margin-bottom: 30px;
}
.statistics .stats:hover {
  color: #fff;
}
.statistics .data h2 {
  margin-bottom: 40px;
}
.statistics .data p {
  font-size: 30px;
  margin-bottom: 0;
}

.statistics .data span {
  font-size: 16px;
}
.our-skills {
  padding-top: 40px;
  padding-bottom: 60px;
}
.our-skills .skills-progress {
  margin-bottom: 50px;
}

.our-skills h2 {
  margin-bottom: 60px;
  font-weight: bold;
}
.our-skills h3 {
  font-weight: bold;
  margin-top: 0;
}
.our-skills .progress {
  height: 25px;
}
.our-skills .progress-bar {
  line-height: 25px;
  font-size: 14px;
  text-align: left;
  text-indent: 5px;
}
.contact-us {
  background: url("../assets/contact-us.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 300px;
}
.contact-us .fields {
  background: rgba(9, 9, 9, 0.5) no-repeat center center fixed;
  min-height: 300px;
  background-size: cover;
  color: #ddd;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact-us p {
  margin-bottom: 40px;
}

.contact-us input,
.contact-us textarea {
  background-color: rgba(82, 78, 78, 0.5);
  color: #fff;
  border: none;
}
.contact-us button:focus-visible,
.contact-us button:focus:active,
.contact-us button:focus,
.contact-us button:active {
  outline: 0;
  outline-offset: 0;
}
.contact-us textarea {
  height: 108px;
  margin-bottom: 14px;
}

/* ---------- */
.our-clients {
  background: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}
.our-clients img {
  opacity: 0.4;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
.our-clients img:hover {
  opacity: 1;
}
.footer {
  background: #111;
  color: #aaa;
  padding-top: 20px;
}

.footer a {
  color: #aaa;
}
.footer a:hover {
  color: #fff;
}
.footer h3 {
  color: #0895d1;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}
.footer .three-columns {
  overflow: hidden;
}
.footer .three-columns li {
  width: 33.3333%;
  padding: 5px 0;
  float: left;
}
.footer .social-list {
  overflow: hidden;
  margin: 20px 0 10px;
  display: flex;
}
.footer .social-list li {
  /* float: left; */
  opacity: 0.7;
  transition: all 0.2s ease-in;
  margin-right: 4px;
}
.footer .social-list li:hover {
  opacity: 1;
}
.footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #444;
  margin-bottom: 5px;
}
.footer .copyright {
  background: #333;
  color: #aaa;
  padding: 15px 0;
  margin-top: 20px;
  font-size: 18px;
}
.footer .copyright span {
  color: #0895d1;
}
/* Start Section Loading */

.loading-overlay {
  background: #222;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 300px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* End Section Loading */
/* Start Scrollup */

#scroll-top {
  width: 50px;
  height: 40px;
  color: #ddd;
  background-color: #272727;
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 9999;
  display: none;
  cursor: pointer;
}

#scroll-top:hover {
  background-color: #444;
}
